#conteudo{
  width: 100%;
  height: 100%;
  background-image:linear-gradient(45deg, rgb(78,89,190), rgb(255,255,255));
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

img{
  width: 75px;
  vertical-align: middle;
  margin: 25px;
}

h1{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.painelDados{
  margin: 25px;
  background-color: white;
  display: inline-flex;
  width: 30%;
  padding: 15px;
  border-radius: 15px;  
  flex-direction: column;
}

.painelControle{
  text-align: center;
  align-self: center;
  padding: 10px;
  background-color: rgb(78,89,190);
  width: 75%;
  border-radius: 15px;
  margin: 5px;
  color: white;
}

.painelControle p{
  font-weight: bold;
}

.mais{
  border: solid 1px white;
  padding: 0 20px;
  border-radius: 5px 0 0 5px;
  align-content: center;
}

.menos{
  border: solid 1px white;
  padding: 0 20px;
  border-radius: 0 5px 5px 0;
  align-content: center;
}

.quantidade{
  border: solid 1px white;
  padding: 0 25px;
  align-content: center;
}

.botao:hover{
  background-color: blueviolet;
  cursor: pointer;
}
